<div class="text-center">
    <h1>Corporate Action Lifecycle</h1>
</div>

<div id="timeline" class="outlined"></div>

<div data-bind="foreach: processes" class="processes-container outlined">
    <div data-bind="attr: { id: id }" class="processes-item process-container outlined">

        <h4 data-bind="text: title" class="justified"></h4>

        <div class="process-item justified">
            <div class="text-bold">Target date:</div>
            <ul data-bind="foreach: targetDateItems()">
                <li data-bind="text: $data"></li>
            </ul>
        </div>

        <div class="process-item justified">
            <div class="text-bold">Critical date:</div>
            <ul data-bind="foreach: criticalDateItems()">
                <li data-bind="text: $data"></li>
            </ul>
        </div>
    </div>
</div>

<div>
    <br />

    <input type="checkbox" id="scrubChbx" class="js-process-chbx" checked="checked" data-id="scrub" />
    <label for="scrubChbx">CA Scrubbing</label>


    <input type="checkbox" id="notifChbx" class="js-process-chbx" checked="checked" data-id="notif" />
    <label for="notifChbx">Notification</label>


    <input type="checkbox" id="respoChbx" class="js-process-chbx" checked="checked" data-id="respo" />
    <label for="respoChbx">Response</label>


    <input type="checkbox" id="instrChbx" class="js-process-chbx" checked="checked" data-id="instr" />
    <label for="instrChbx">Instruction</label>


    <input type="checkbox" id="paymeChbx" class="js-process-chbx" checked="checked" data-id="payme" />
    <label for="paymeChbx">Payment</label>

    <br />
</div>

<script type="text/javascript">
    function Process(id, title, targetDateItems, criticalDateItems) {
        this.id = id;
        this.title = title;
        this.targetDateItems = ko.observableArray(targetDateItems);
        this.criticalDateItems = ko.observableArray(criticalDateItems);
    }

    function AppViewModel() {
        this.processes = ko.observableArray();
    }

    var viewModel = new AppViewModel();
    viewModel.processes([
        new Process("scrub", "CA Scrubbing", ["Ex Date (IN)", "Amount(CT)"], ["Rate(CO)"]),
        new Process("notif", "Notification", ["Notification1", "Notification2", "Notification3", "Notification4"], ["Notification5", "Notification6", "Notification7"]),
        new Process("respo", "Response", ["acc1", "acc2", "acc3"], ["acc4", "acc5", "acc6"]),
        new Process("instr", "Instruction", ["acc1", "acc2", "acc3", "acc4"], ["acc5", "acc6"]),
        new Process("payme", "Payment", ["acc1", "acc2"], ["acc3", "acc4"])
    ]);

    ko.applyBindings(viewModel);

    var container = document.getElementById("timeline");
    var data = [];
    var options = {};
    var timeline = new vis.Timeline(container, data, options);

    $(".js-process-chbx").click(function () {
        var processId = "#" + $(this).data("id");
        $(processId).toggle();
    });
</script>
